*.msh filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
*.nii.gz filter=lfs diff=lfs merge=lfs -text
checkpoints_*/* filter=lfs diff=lfs merge=lfs -text
pmcx_temp_data/** filter=lfs diff=lfs merge=lfs -text
